<div *ngFor="let row of responseData">
  <h2>OrderId:-{{ row.id }}</h2>
  <h4><strong>Address:-</strong></h4>
  <p>
    {{ row.addressResponse.address_line1 }}
    {{ row.addressResponse.address_line2 }}
  </p>
  <p>
    {{ row.addressResponse.city }}-
    {{ row.addressResponse.pincode }}
  </p>
  <p>
    {{ row.addressResponse.mobile_no }}
  </p>
  <br>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
      <td mat-cell *matCellDef="let row">{{ row.product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>quantity</th>
      <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
    </ng-container>
    <!-- Progress Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
      <td mat-cell *matCellDef="let row">{{ row.price }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div  *ngFor="let row of responseData">
  <br />
  <h2>Total:- {{ row.totalprice + row.priceCutFromWallet }}</h2>
</div>

<div *ngFor="let row of responseData">
  <div *ngIf="row.avoidRinging || row.leaveAtDoor || row.avoidCalling || row.leaveWithSecurity">
    <h2>Delivery Instructions - </h2>
  </div>
  <div  *ngIf="row.avoidRinging" class="alert alert-secondary" role="alert">
    Avoid ringing bell
  </div>
  <div *ngIf="row.leaveAtDoor" class="alert alert-secondary" role="alert">
    Leave at the door
  </div>
  <div *ngIf="row.deliveryInstructions" class="alert alert-secondary" role="alert">
   {{row.deliveryInstructions}}
  </div>
  <div *ngIf="row.avoidCalling" class="alert alert-secondary" role="alert">
    Avoid Calling
  </div>
  <div *ngIf="row.leaveWithSecurity" class="alert alert-secondary" role="alert">
    Leave with Security
  </div>
</div>
