<mat-nav-list>
    <div class="profile-card">

        <img src="/assets/profile.jpg" alt="Profile Not Available">
        <div class="header">
            <h2>{{userName}}</h2>
            <h4>{{userEmail}}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">User</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">Inventory</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notification">Notification</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/order">Order</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        Setting
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        Logout
    </a>

</mat-nav-list>
