<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm" >
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input formControlName="productName" matInput placeholder="eg : mango" />
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input  formControlName="productPrice" matInput placeholder="eg : 100" />
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image Url</mat-label>
      <input  formControlName="imageUrl" matInput placeholder="eg : orange.jpg" />
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Add to Popular Product</mat-label>
      <mat-select  formControlName="popularProduct">
        <mat-option value="true">Yes</mat-option>
        <mat-option value="false">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select  formControlName="productStatus">
        <mat-option value="active">Active</mat-option>
        <mat-option value="inactive">InActive</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Catagory</mat-label>
      <mat-select  formControlName="category">
        <mat-option value="Fruits And Vegetable"
          >Fruits And Vegetable</mat-option
        >
        <mat-option value="Dairy">Dairy</mat-option>
        <mat-option value="Chocolate And Snacks"
          >Chocolate And Snacks</mat-option
        >
        <mat-option value="Home Essencials">Home Essencials</mat-option>
        <mat-option value="Pearsonal Care">Pearsonal Care</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Inventory</mat-label>
      <input  formControlName="quantity" matInput placeholder="eg : 10 Product Avilable" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  <button style="margin-left: 10px" mat-raised-button color="primary" (click)="addProduct()">
    Save
  </button>
</div>
