<h1 mat-dialog-title>Analysis</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">Time</th>
      <th scope="col" class="text-center">Revenue</th>
      <th scope="col" class="text-center">ADR</th>
      <th scope="col" class="text-center">Orders</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Today</td>
      <td class="text-center">{{performanceData.todaysPerformance.revenue.toFixed(2)}}</td>
      <td class="text-center">{{performanceData.todaysPerformance.adr.toFixed(2)}}</td>
      <td class="text-center">{{performanceData.todaysPerformance.orders}}</td>
    </tr>
    <tr>
      <td class="text-center">This Month</td>
      <td class="text-center">{{performanceData.currentMonthPerformance.revenue.toFixed(2)}}</td>
      <td class="text-center">{{performanceData.currentMonthPerformance.adr.toFixed(2)}}</td>
      <td class="text-center">{{performanceData.currentMonthPerformance.orders}}</td>
    </tr>
    <tr>
      <td class="text-center">Last Month</td>
      <td class="text-center">{{performanceData.lastMonthPerformance.revenue.toFixed(2)}}</td>
      <td class="text-center">{{performanceData.lastMonthPerformance.adr.toFixed(2)}}</td>
      <td class="text-center">{{performanceData.lastMonthPerformance.orders}}</td>
    </tr>
  </tbody>
</table>
