<h1 mat-dialog-title>Analysis</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">Time</th>
      <th scope="col" class="text-center">Revenue</th>
      <th scope="col" class="text-center">ADR</th>
      <th scope="col" class="text-center">Orders</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Today</td>
      <td class="text-center">{{todaysrevenue}}</td>
      <td class="text-center">{{todaysadr}}</td>
      <td class="text-center">{{todaysorders}}</td>
    </tr>
    <tr>
      <td class="text-center">This Month</td>
      <td class="text-center">{{monthsRevenue}}</td>
      <td class="text-center">{{monthsadr}}</td>
      <td class="text-center">{{monthsorders}}</td>
    </tr>
  </tbody>
</table>
